services:
  deepstream:
    image: nvcr.io/nvidia/deepstream:8.0-gc-triton-devel
    privileged: true
    network_mode: host
    stdin_open: true
    tty: true
    volumes:
      - ./:/workspace
      - ${SSH_AUTH_SOCK}:/ssh-agent
    working_dir: /workspace
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
     - SSH_AUTH_SOCK=/ssh-agent